{% load static %}
<html>
<head>
    <script src="{% static "js/jquery-3.2.1.js" %}" /></script>
    <script src="{% static "js/knockout-3.4.2.debug.js" %}" /></script>
    <script src="{% static "js/knockout.mapping-latest.debug.js" %}" /></script>
</head>
<body>
    <input id="images" type="checkbox" data-bind="checked: show_images, event: { change: $root.get_data}" /> <label for="images">Show Images</label>
    <input name="children" type="checkbox" data-bind="checked: show_children, event: { change: $root.get_data}" /> <label for="children">Show Children</label>
    <ul data-bind="foreach: products">
        <li>
            <span data-bind="text: name"></span>
            <ul>
                <li>id: <span data-bind="text: id"> </span></li>
                <li>Description: <span data-bind="text: description"> </span></li>
                <li data-bind="visible: parent">Parent: <span data-bind="text: parent"> </span></li>
                <li data-bind="visible: children().length>0">Children: <span data-bind="text: children"> </span></li>
                <li data-bind="visible: images().length>0">Images: <span data-bind="text: images"> </span></li>
            </ul>
        </li>
    </ul>
    <script src="{% static "js/product.js" %}" /></script>
</body>
</html>
